<%- include('../includes/head.ejs') %>
</head>
    <link rel="stylesheet" href="/css/cart.css">
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
      <li class="cart__item">
        <h1><%= p.productId.title %></h1>
        <h2>Quantity: <%= p.qty %></h2>
        <h2>Price: $<%= p.productId.price %></h2>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%= p.productId._id %>" name="productId">
          <input name="_csrf" type="hidden" , value="<%= csrfToken %>" />
        </form>
      </li>
      <% }) %>
    </ul>
    <div>
      <h1 class="centered"> Total: $<%= totalPrice %></h1>
    </div>
    <div class="centered">
      <button id="order-button" class="button">Order now</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const stripe = Stripe("API_KEY");
        const orderBtn = document.getElementById('order-button');
        orderBtn.addEventListener('click', ()=> {
          console.log('clicked')
          stripe.redirectToCheckout({
            sessionId: '<%= sessionId %>',
          })
        })
      </script>
    </div>
  </main>
<%- include('../includes/end.ejs') %>